<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
    <style>
      [v-cloak] {
        display: none;
      }
    </style>
  </head>

  <body>
    <div id="app">
      <v-app id="inspire">
        <!-- nav -->
        <v-app-bar dark color="primary" app v-if="isShow">
          <v-app-bar-nav-icon></v-app-bar-nav-icon>
          <v-toolbar-title v-cloak>{{tooltips.rent}}</v-toolbar-title>
          <v-spacer></v-spacer>
          <span v-cloak>{{tooltips.step}}</span>
          <v-spacer></v-spacer>
        </v-app-bar>
        <!-- nav end -->
        <v-main>
          <br />
          <v-container fluid>
            <!-- form -->
            <template app v-if="isShow">
              <v-form ref="form" v-model="valid" lazy-validation>
                <v-row>
                  <v-col md="1" cols="2">
                    <v-checkbox v-model="checkBoxes[0]" disabled></v-checkbox>
                    <v-checkbox v-model="checkBoxes[1]"></v-checkbox>
                    <v-checkbox v-model="checkBoxes[2]"></v-checkbox>
                    <v-checkbox v-model="checkBoxes[3]"></v-checkbox>
                  </v-col>
                  <v-col md="5" cols="10">
                    <v-text-field
                      type="text"
                      v-model="room"
                      :rules="mustRules"
                      label="房間"
                      required
                      :oninput="oninputs"
                    >
                    </v-text-field>
                    <v-text-field
                      type="number"
                      v-model="waterPrice"
                      :rules="mustRules"
                      label="水費"
                      required
                      :oninput="oninputs"
                    >
                    </v-text-field>
                    <v-text-field
                      type="number"
                      v-model="electricPrice"
                      :rules="mustRules"
                      label="電費"
                      required
                      :oninput="oninputs"
                    >
                    </v-text-field>
                    <v-text-field
                      type="number"
                      v-model="managePrice"
                      :rules="mustRules"
                      label="管理費"
                      required
                    >
                    </v-text-field>
                  </v-col>
                  <v-col md="5">
                    <template>
                      <v-row justify="center">
                        <v-date-picker
                          v-model="picker"
                          color="green lighten-1"
                          header-color="green"
                          locale="zh-tw"
                        >
                        </v-date-picker>
                      </v-row>
                    </template>
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <v-btn color="green" class="mr-4" @click="go" dark>
                    <h2>+ 結算</h2>
                  </v-btn>
                </v-row>
              </v-form>
            </template>
            <!-- form-end -->
            <br />
            <!-- icons -->
            <v-tooltip top>
              <template v-slot:activator="{ on, attrs }">
                <v-btn icon v-bind="attrs" v-on="on" @click="showOthers">
                  <v-icon>mdi-eye</v-icon>
                </v-btn>
              </template>
              <span v-cloak>{{eyes}}</span>
            </v-tooltip>
            <v-tooltip top open-on-hover >
              <template v-slot:activator="{ on, attrs }" >
                <v-btn icon v-bind="attrs" v-on="on" @click="printer" v-show="!isShow">
                  <v-icon>mdi-printer</v-icon>
                </v-btn>
              </template>
              <span v-cloak>{{tooltips.print}}</span>
            </v-tooltip>
            <!-- icons-end -->
            <v-divider></v-divider>
            <br />
            <!-- table -->
            <template>
              <div v-for="(table,index) in Tables" :key="index">
                <v-row>
                  <v-col md="6" v-for="n in 2" :key="n">
                    <v-simple-table>
                      <template v-slot:default>
                        <thead>
                          <tr>
                            <th class="text-right">{{ months[index] }}月</th>
                            <th class="text-center">房號:{{ rooms[index] }}</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="(item) in Tables[index]" :key="item.name">
                            <td class="text-left">{{ item.name }}</td>
                            <td class="text-center">{{ item.value }}</td>
                          </tr>
                        </tbody>
                      </template>
                    </v-simple-table>
                  </v-col>
                </v-row>
                <v-row align-center>
                  <v-col md="6" class="text-right">
                    {{picker}} {{signName}}
                  </v-col>
                  <v-col md="6" class="text-right">
                    {{picker}} {{signName}}
                  </v-col>
                </v-row>
                <br />
              </div>
            </template>
            <!-- table-end -->
          </v-container>
        </v-main>
      </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.9.1/axios.js"
      integrity="sha512-Kg0CewqPNO/ziOJuCq5eyl3P/V6OLz/Lb1I2m+yKS3lHZcGVFN/KOew18rWP+kTsL7haYdaqGjwHQCZrN0heLQ=="
      crossorigin="anonymous"
    ></script>
    <script>
      Vue.config.productionTip = false;
    </script>
    <script>
      new Vue({
        el: "#app",
        vuetify: new Vuetify(),
        computed: {},
        watch: {
          isShow() {
            this.isShow === true
              ? (this.eyes = this.tooltips.hide)
              : (this.eyes = this.tooltips.show);
          },
        },
        data: () => ({
          eyes: "顯示",
          tooltips: {
            hide: "隱藏",
            show: "顯示",
            print: "列印",
            rent: "收租金",
            step: `1.填表單 2.選日期 3.結算做更新 4.隱藏表單 5.列印`,
          },
          isShow: true,
          valid: true,
          signName: "廖先生",
          name: "",
          mustRules: [(v) => !!v || "一定要填"],
          oninputs: "if(value.length > 10)value = value.slice(0, 10)",
          months: [],
          rooms: [],
          room: "8-7",
          waterPrice: 0,
          electricPrice: 0,
          managePrice: 0,
          total: 0,
          checkBoxes: [true, true, true, true],
          picker: new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
            .toISOString()
            .substr(0, 10),
          trueData: [],
          Tables: [],
        }),
        methods: {
          go() {
            this.rooms.push(this.room);
            this.setMonth();
            this.setData();
            this.addTable();
          },
          setMonth() {
            let moth = this.picker.slice(-5, -3);
            this.months.push(moth);
          },
          setData() {
            this.trueData = [];
            this.total = 0;
            this.setFormInput(1, "水費", this.waterPrice);
            this.setFormInput(2, "電費", this.electricPrice);
            this.setFormInput(3, "管理費", this.managePrice);
            this.trueData.push({ name: "總計", value: this.total + " NTD" });
          },
          setFormInput(index, name, value) {
            if (this.checkBoxes[index]) {
              this.trueData.push({ name, value });
              this.total += Number(value);
            }
          },
          addTable() {
            this.Tables.push(this.trueData);
          },
          printer() {
            this.tooltips.print = "";
            this.$nextTick(() => {
              window.print();
              this.tooltips.print = "列印";
            });
          },
          showOthers() {
            this.isShow = !this.isShow;
          },
        },
      });
    </script>
  </body>
</html>
